body 
    {
        margin: 0;
        height: 100%;
        background-color: whitesmoke;
        font-family: 'Roboto', sans-serif;
    }

.dice
    {
        background: whitesmoke;
        text-align: center;
        font-size: 50px;
        width: 100%;
        margin: auto;
        padding: 1% 0;
    }
header
    {
        margin: 0;
        padding: 2% 0px;
        background-color: #fff;
        width: 100%;
    }
h1
    {
        margin: 0;
    }
    
.center
    {
        text-align: center;
    }

button 
    {
        border: none;
        color: white;
        background-color: #4CAF50;
        padding: 20px 25px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
button:hover 
    {
        background-color: #46a049;
    }

#center {
        width: 100%;
        position: absolute;
        top: 35%;
        text-align: center;
        margin: 0 auto;
        font-size: 8vmin;
        color: whitesmoke;
    }


/*
* Slider CSS
*/

/* The switch - the box around the slider */
.switch 
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider 
{
  background-color: green;
}

input:focus + .slider 
{
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}